.about {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  padding: 3.75rem 1.5rem;
  background-color: $color-dark;
  border-radius: $border-radius-50;

  .about-description {
    display: flex;
    gap: 2rem;
    height: fit-content;

    .about-title-mobile {
      display: none;
    }

    .about-img,
    .about-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about-img {
      img {
        width: 100%;
        object-fit: contain;
      }

      figcaption {
        text-align: center;
        color: $color-violet;
        font-size: $font-size-heading-4;
        font-weight: 100;
      }
    }

    .about-text {
      justify-content: space-evenly;
      gap: 1.8rem;

      h2 {
        font-family: "Virust", sans-serif;
        font-size: $font-size-heading-2;
      }

      p {
        font-size: $font-size-body-lg;

        span {
          font-weight: 700;
        }
      }

      a {
        width: 40%;
        color: $color-black;
        font-weight: 700;
      }
    }
  }

  .about-tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

    h3 {
      font-size: $font-size-heading-3;
      color: $color-pink;
      font-weight: 500;
      text-align: center;
    }

    .about-tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: center;
      align-items: center;

      .tech-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 9rem;
        gap: 0.2rem;

        svg {
          width: 60%;
          height: 60%;
        }

        p {
          font-size: $font-size-body-lg;
        }
      }
    }
  }

  .about-additional-text {
    text-align: center;
    font-size: $font-size-body-lg;
  }

  // Tabletas
  @media (max-width: $break-md) {
    gap: 9rem;
    padding: 2rem;

    .about-description {
      gap: 3.75rem;

      .about-img {
        figcaption {
          font-size: 1rem;
        }
      }

      .about-img,
      .about-text {
        width: 100%;
      }

      .about-text {
        h2 {
          font-size: $font-size-heading-3;
        }

        p {
          font-size: $font-size-body-sm;
        }

        a {
          width: 90%;
        }
      }
    }

    .about-tech-stack {
      .tech-item {
        width: 9.2rem;

        p {
          font-size: $font-size-body-md;
        }
      }
    }
  }

  // Móviles
  @media (max-width: $break-sm) {
    .about-description {
      flex-direction: column;
      align-items: center;

      .about-title-mobile {
        display: block;
        font-family: "Virust", sans-serif;
        font-size: $font-size-heading-2;
        text-align: center;
      }

      h2 {
        display: none;
      }
    }

    .about-tech {
      gap: 1.5rem;

      h3 {
        font-size: $font-size-heading-4;
      }

      .about-tech-stack {
        gap: 1.5rem;

        .tech-item {
          width: 6rem;

          p {
            font-size: $font-size-body-sm;
          }
        }
      }
    }

    .about-additional-text {
      font-size: $font-size-body-md;
    }
  }
}
