.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  .hero-img {
    position: absolute;
    top: 15%;
    width: 100%;
    opacity: 0.08;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    gap: 0.8rem;

    .main-text-sm {
      font-size: $font-size-heading-4;
      text-align: center;

      &:first-child {
        color: $color-violet;
      }
    }

    .main-title {
      font-family: "Virust", sans-serif;
      font-size: $font-size-heading-1;
      line-height: 100%;
      text-align: center;
    }

    .main-badge {
      font-size: $font-size-body-lg;
      color: $color-violet;
      padding: 1rem;
      border: 0.06rem solid $color-violet;
      border-radius: 0.5rem;
      width: fit-content;
      text-align: center;
    }

    .main-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10rem;

      padding: 1rem 0;

      a {
        height: 70%;

        svg {
          height: 100%;
        }
      }
    }
  }

  // Tabletas
  @media (max-width: $break-md) {
    .hero-img {
      top: 25%;
    }

    .main-header {
      width: 81%;
      gap: 1rem;

      .main-badge {
        padding: 0.75rem;
      }
    }
  }

  // Móviles
  @media (max-width: $break-sm) {
    .main-header {
      .main-title {
        font-size: $font-size-heading-2;
      }

      .main-badge {
        font-size: $font-size-body-md;
      }

      .main-contact {
        width: 7rem;
        a {
          height: 100%;
          svg {
            height: 50%;
          }
        }
      }
    }
  }
}
