.nav {
  display: flex;
  position: fixed;
  background-color: $color-dark-violet;
  padding: 0.6rem 3.75rem;
 
  width: 100%;
  z-index: 2;

  .nav-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo-img {
    height: 1.8rem;
  }

  .nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-link-list {
    display: flex;
    gap: 2.1rem;
    align-items: center;

    .nav-link {
      align-items: center;
      position: relative;
      display: inline-flex;
      gap: 0.6rem;
      font-size: $font-size-body-md;
      white-space: nowrap;

      // Efecto hover en los links
      &::after {
        content: '';
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  // Tabletas
   @media (max-width: $break-md){
     padding: 1rem 3.75rem;
   }
  // Móviles
  @media (max-width: $break-sm) {
    padding: 1rem 1.8rem;
    align-items: flex-start;
    flex-direction: column;

    .nav-toggle {
      display: block;
      transition: transform 800ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    .open-icon {
      transform: rotate(-90deg);
    }

    .nav-link-list {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 1.25rem;
      padding: 1.5rem 0;
      gap: 2.5rem;
      animation: slideDown 0.2s ease-out forwards;
      z-index: 10;

      &.open {
        display: flex;
        max-height: fit-content;
      }
    }
  }
}

// Animacion de despliegue del menú
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
